@use '../../../sass/abstract/variables' as *;

.list_item {
    display: flex;
    flex-direction: column;
    inline-size: 100%;

    &::after {
        border-bottom: 1px solid $border_color_rose--100;

        content: '';

        display: block;

        margin-block: $margin_block_component_xs;
    }
    

    &:nth-last-child(2)::after {
        margin-block: $margin_block_component_sm;
    }


    &__description {
        color: $text_rose--900;

        margin-block-end: $margin_blockend_component_xs;
    }


    &__quantity_and_price {
        display: flex;
        align-items: center;
        gap: $gap_block_control_sm;
    }


    &__count {
        color: $text_red;

        inline-size: $inlinesize_control_xs; //magic number to follow design
    }


    &__price {
        color: $text_rose--500;
    }


    &__total_price {
        color: $text_rose--500;
    }


    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    //the following classes are in Modal.jsx
    &__thumbnail_and_info {
        display: flex;
        gap: $gap_inline_control_md;
    }
    

    div &__description--modal  {
        inline-size: 9.56rem; //magic number to cut text at per design

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }


    &__total_price--modal {
        color: $text_rose--900;
    }
}