@use '../../../sass/abstract/variables' as *;

.list_item {
    display: flex;
    flex-direction: column;
    inline-size: 100%;

    &::after {
        content: '';

        display: block;

        border-bottom: 1px solid $primary_border_color_rose--100;

        margin-block: $margin_block_components_xs;
    }

    &:nth-last-child(2)::after {
        margin-block: $margin_block_components_sm;
    }


    &__description {
        color: $primary_text_rose--900;

        margin-block-end: $margin_blockend_components_xs;
    }


    &__quantity_and_price {
        display: flex;
        align-items: center;
        gap: $gap_block_controls_sm;
    }


    &__count {
        inline-size: $inlinesize_controls_xs; //magic number to follow design

        color: $primary_text_red;
    }


    &__price {
        color: $primary_text_rose--500;
    }


    &__total_price {
        color: $primary_text_rose--500;
    }


    &__tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    //the following classes are in Modal.jsx
    &__thumbnail_and_info {
        display: flex;
        gap: $gap_inline_controls_md;
    }


    &__total_price--modal {
        color: $primary_text_rose--900;
    }
}