@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.cart {
    background-color: $white;

    border-radius: $radius_pill_md;

    inline-size: 100%;

    @include respond_to(min, l_screen) {
        align-self: flex-start;
     }

     
    &__container {
        padding: $padding_full_control_md;
    }


    &__heading {
        color: $text_red;

        margin-block-end: $margin_blockend_component_md;
    }
}

.placeholder {
    display: flex;
    flex-direction: column;

    margin-inline: auto;
    
    max-inline-size: 279px;


    &__image {
        margin-block: $margin_block_component_xs;
        margin-inline: auto;
    }


    &__text {
        color: $text_rose--500;

        margin-block-end: $margin_block_component_xs;

        text-align: center;
    }
}