@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.cart {
    inline-size: 100%;

    background-color: $white;

    border-radius: $radius_avg_pill;

    @include respond_to(min, l_screen) {
        align-self: flex-start;
     }

    &__container {
        padding: $padding_controls_md;
    }

    &__heading {
        text-transform: capitalize;
        color: $primary_text_red;

        margin-block-end: $margin_blockend_components_sm;
    }
}

.list_items {
    display: flex;
    flex-direction: column;
    inline-size: 100%;

    &__description {
        color: $primary_text_rose--900;
        
        margin-block-end: $margin_blockend_components_xs;
    }


    &__quantity_and_price {
        display: flex;
        align-items: center;
        gap: $gap_block_controls_sm;
    }


    &__count {
        inline-size: $inlinesize_controls_xs; //magic number to follow design

        color: $primary_text_red;
    }


    &__price {
        color: $primary_text_rose--500;
    }


    &__total_price {
        color: $primary_text_rose--500;
    }


    &__tab {
        display: flex;
        justify-content: space-between;
    }


    &__total_order {
        display: flex;
        justify-content: space-between;

        margin-block-end: $margin_blockend_components_sm;

        text-transform: capitalize;
        color: $primary_text_rose--900;
    }

}

.separator {
    margin-block: $margin_block_components_xs;
}

.placeholder {
    display: flex;
    flex-direction: column;

    margin-inline: auto;
    
    max-inline-size: 279px;

    &__image {
        margin-block: $margin_block_components_xs;
        margin-inline: auto;
    }

    &__text {
        margin-block-end: $margin_block_components_xs;

        text-align: center;
        color: $primary_text_rose--500;
    }
}