@use "../abstract/variables" as *;

.page {
    min-block-size: 100vh;

    background-color: $primary_background_color_rose;

    &__container {
        max-inline-size: $container_inline_layout_sm;

        padding-block: $padding_block_layout_sm;
        margin-inline: auto;


    }
}