@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.page {
    min-block-size: 100vh;

    background-color: $background_color_rose;

    &__container {
        max-inline-size: $container_inline_layout_md;

        padding-block: $padding_block_layout_sm;
        margin-inline: auto;

        @include respond_to(min, m_screen) {
            max-inline-size: $container_inline_layout_sm;

            padding-block: $padding_block_layout_md;
        }

        @include respond_to(min, l_screen) {
            display: grid;
            grid-template-columns: 1fr 384px; //magic number to match design
            column-gap: $gap_block_control_xlg;

            padding-block: $padding_block_layout_lg;
            margin-inline: $margin_inline_layout_lg;
        }
    }
}