@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.modal {

    position: fixed;
    inset: 0;

    background-color: hsl(0deg, 0%, 0%, .5);

    overflow-y: auto; //allows modal__container to be scrolled if it's too long


    &__container {

        position: absolute;
        bottom: 0;
        left: 0;

        inline-size: 100%;

        padding-block-start: $padding_block_layout_md;
        padding-block-end: $padding_block_layout_sm;
        padding-inline: $padding_inline_controls_md;

        background-color: $white;

        border-radius: $radius_avg_pill;

        @include transition(transform, .3s, ease);

        transform: translateY(100%);


        @include respond_to(min, m_screen) {
            max-inline-size: $container_inline_layout_md;

            padding-inline: $padding_block_layout_md;
            padding-block-end: $padding_block_layout_md;

            top: 50%;
            left: 50%;
            bottom: initial;
            transform: translate(-50%, -50%);
        }

        @include respond_to(min, l_screen) {
            max-inline-size: $container_inline_layout_xs;
        }
    }


    &__image {
        margin-block-end: $margin_blockend_components_sm;
    }


    &__confirmed_items {
        background-color: $primary_background_color_rose;

        padding-block-start: $padding_block_controls_lg;
        padding-inline: $padding_controls_md;
        margin-block-end: $margin_blockend_components_md;

        border-radius: $radius_mild_pill;
    }


    &__confirmation_message {
        margin-block-end: $margin_blockend_components_md;
    }


    &__confirmation_heading {
        text-transform: capitalize;

        max-inline-size: 10ch;

        margin-block-end: $margin_blockend_components_xs;

        @include respond_to(min, m_screen) {
            max-inline-size: 100%;
        }
    }


    &__confirmation_subheading {
        color: $primary_text_rose--500;
        line-height: 1; //to follow design's height
    }


    &__thumbnail {
        inline-size: 48px;
        block-size: 48px;
        border-radius: $radius_small_pill;
    }
}