@use '../../../sass/abstract/animations' as *;
@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;
@use '../../../sass/abstract/utils' as *;

.modal {
    position: fixed;
    inset: 0;

    background-color: $black--400;

    overflow-y: auto; //allows modal__container to be scrolled if it's too long

    @extend %flex_center;

    &__container {
        position: absolute;
        bottom: 0;
        left: 0;

        inline-size: 100%;

        padding-block-start: $padding_block_layout_md;
        padding-block-end: $padding_block_layout_sm;
        padding-inline: $padding_inline_control_md;

        background-color: $background_color_white;

        border-radius: $radius_pill_md;

        animation: slideY .3s;

        @include respond_to(min, m_screen) {
            bottom: initial;
            left: initial;

            max-inline-size: $container_inline_layout_lg;

            padding-inline: $padding_block_layout_md;
            padding-block-end: $padding_block_layout_md;
        }

        @include respond_to(min, l_screen) {
            max-inline-size: $container_inline_layout_xs;
        }
    }


    &__image {
        margin-block-end: $margin_blockend_component_md;
    }


    &__confirmed_items {
        background-color: $background_color_rose;

        padding-block-start: $padding_block_control_lg;
        padding-inline: $padding_full_control_md;
        margin-block-end: $margin_blockend_component_lg;

        border-radius: $radius_pill_sm;
    }


    &__confirmation_message {
        margin-block-end: $margin_blockend_component_lg;
    }


    &__confirmation_heading {
        max-inline-size: 10ch;

        margin-block-end: $margin_blockend_component_xs;

        @include respond_to(min, m_screen) {
            max-inline-size: 100%;
        }
    }


    &__confirmation_subheading {
        color: $text_rose--500;
        line-height: 1; //to follow design's height
    }


    &__thumbnail {
        inline-size: 48px;
        block-size: 48px;
        border-radius: $radius_pill_xs;
    }
}