@use '../../../sass/abstract/variables' as *;

.item_image {
    position: relative;

    border-radius: $radius_mild_pill;
    overflow: hidden;

    inline-size: 100%; //occupies full-width of grid container
    block-size: $blocksize_controls_sm; //magic number according to design

    &__image {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
    }
}