@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/utils' as *;

.carbon_neutral_info {
    inline-size: 100%;

    border-radius: $radius_pill_sm;

    padding-block: $padding_block_control_md;
    margin-block-end: $margin_blockend_component_md;

    background-color: $background_color_rose;


    &__container {
        @extend %flex_center;
        gap: $gap_inline_control_sm;
        height: 20px; //magic number to meet the design
    }

    
    &__text {
        color: $text_rose--900;
    }
}