@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as mix;

.button {
    text-transform: capitalize;
    text-wrap: nowrap; //to prevent text from wrapping at small vw size

    border: 1px solid transparent;
    border-radius: $radius_pill_button;


    &__container {
        @extend %flex_center;
        
        &--gap {
            gap: $gap_inline_controls_sm;
        }

        &--space_between {
            justify-content: space-between;
        }
    }

    &__text {
        line-height: normal; //just to reduce lh of container
    }


    &--cta_add_to_cart {
        background-color: $primary_bg_white;

        border-color: $primary_border_color_rose;

        padding: $padding_block_controls_sm $padding_inline_controls_md;

        color: $primary_text_rose--900;

        inline-size: 100%;
        max-inline-size: $inlinesize_controls_sm;
        block-size: $blocksize_controls_button;

        @include mix.transition(all, .3s, ease);

        &:hover {
            border-color: $secondary_border_color_red;
            color: $secondary_text_red;
        }
    }

    &--bg_red {
        background-color: $secondary_bg_red;

        border-color: $secondary_border_color_red;
    }

    &--abs_position {
        position: absolute;
        bottom: -22%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    &--cta_counter {
        padding: $padding_controls_sm;

        inline-size: 100%;
        max-inline-size: $inlinesize_controls_sm;
        block-size: $blocksize_controls_button;
    }


    &--cta_order {
        padding: $padding_inline_controls_sm;

        inline-size: 100%;
    }
}