@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;
@use '../../../sass/abstract/utils' as *;

.button {
    border: 1px solid transparent;
    border-radius: $radius_pill_lg;

    text-wrap: nowrap; //to prevent text from wrapping at small vw size

    &__container {
        @extend %flex_center;

        &--gap {
            gap: $gap_inline_control_sm;
        }

        &--space_between {
            justify-content: space-between;
        }
    }


    &__text {
        line-height: normal; //just to reduce lh of container
    }


    &--cta_add_to_cart {
        background-color: $background_color_white;

        border-color: $border_color_rose--400;

        color: $text_rose--900;

        padding: $padding_block_control_sm $padding_inline_control_lg;

        inline-size: 100%;
        max-inline-size: $inlinesize_control_sm;
        block-size: $blocksize_control_button;

        @include transition(all, .3s, ease);

        &:hover {
            border-color: $border_color_red;
            color: $text_red;
        }
    }


    &--bg_red {
        background-color: $background_color_red;

        border-color: $border_color_red;
    }
    

    &--abs_position {
        position: absolute;
        bottom: -22%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond_to(min, l_screen) {
            bottom: -19%;
        }
    }


    &--cta_counter {
        cursor: default;

        inline-size: 100%;
        max-inline-size: $inlinesize_control_sm;
        block-size: $blocksize_control_button;

        padding-inline: $padding_inline_control_sm;
    }


    &--cta_order {
        inline-size: 100%;

        padding: $padding_inline_control_sm;
    }
}

.decrease_sign,
.increase_sign {
    cursor: pointer;
}