@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.desserts {
   margin-block-end: $margin_blockend_component_lg;

   @include respond_to(min, l_screen) {
      margin-block-end: 0;
   }
   

   &__heading {
      color: $text_rose--900;

      margin-block-end: $margin_blockend_component_lg;

      @include respond_to(min, l_screen) {
         margin-block-end: 2rem;
      }
   }


   &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: $gap_block_control_lg;

      @include respond_to(min, m_screen) {
         grid-template-columns: repeat(auto-fit, minmax(min(207.5px, 213.33px), 1fr));
         row-gap: $gap_block_control_xlg;
         column-gap: $gap_inline_control_lg;
      }
   }
}