@use "./functions" as *;
@use "sass:map";

//==========================================================
//  PRIMITIVES
//==========================================================

//COLORS
$black: hsl(0deg, 0%, 0%);

$green: hsl(159deg, 69%, 38%);

$red: hsl(14deg, 86%, 42%);

$rose--50: hsl(20deg, 50%, 98%);
$rose--100: hsl(13deg, 31%, 94%);
$rose--300: hsl(14deg, 25%, 72%);
$rose--400: hsl(7deg, 20%, 60%);
$rose--500: hsl(12deg, 20%, 44%);
$rose--900: hsl(14deg, 65%, 9%);

$white: hsl(0deg, 0%, 100%);

//SPACING
$spacing: (
  0: 0,
  4: to_rem(4),
  8: to_rem(8),
  12: to_rem(12),
  16: to_rem(16),
  24: to_rem(24),
  32: to_rem(32),
  40: to_rem(40),
  88: to_rem(88),
);

$special_spacing: (
  1: to_rem(1),
  2: to_rem(2),
  5: to_rem(5),
);

//==========================================================
//  UTILS
//==========================================================

%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//==========================================================
//  DESIGN TOKENS
//==========================================================

/* TOKEN TAXONOMY
* $spacetype_direction_scale_size
* spacetype: spacing such as margin or padding or container;
* direction: inline or block;
* scale: control (atoms), component (molecules), section (organisms), layout (pages);
* size: sm, md, lg, xl;
*/

//COLORS
$primary_bg_white: $white;
$primary_text_rose--900: $rose--900;
$primary_text_rose--500: $rose--500;
$primary_text_red: $red;
$primary_border_color_rose--400: $rose--400;
$primary_border_color_rose--100: $rose--100;
$primary_background_color_rose: $rose--50;

$secondary_border_color_red: $red;
$secondary_text_red: $red;
$secondary_bg_red: $red;

//SPACING

//Gap
$gap_inline_controls_sm: map.get($spacing, 8);
$gap_inline_controls_md: map.get($spacing, 16);
$gap_inline_controls_lg: map.get($spacing, 24);
$gap_block_controls_sm: map.get($spacing, 8);
$gap_block_controls_md: map.get($spacing, 16);
$gap_block_controls_lg: map.get($spacing, 24);
$gap_block_controls_xlg: map.get($spacing, 32);

//Padding & margin
$padding_controls_sm: map.get($spacing, 12);
$padding_controls_md: map.get($spacing, 24);
$padding_block_controls_sm: map.get($spacing, 12);
$padding_block_controls_md: map.get($spacing, 16);
$padding_block_controls_lg: map.get($spacing, 24);
$padding_inline_controls_sm: map.get($spacing, 12);
$padding_inline_controls_md: map.get($spacing, 24);
$padding_inline_controls_lg: calc(map.get($spacing, 24) + map.get($spacing, 4));
$padding_block_layout_sm: map.get($spacing, 24);
$padding_block_layout_md: map.get($spacing, 40);
$padding_block_layout_lg: map.get($spacing, 88);

$margin_block_components_xs: map.get($spacing, 16);
$margin_block_components_sm: map.get($spacing, 24);
$margin_block_components_md: calc(map.get($spacing, 32) + map.get($spacing, 4) + map.get($special_spacing, 2));
$margin_blockstart_components_sm: map.get($spacing, 16);
$margin_blockend_components_xs: map.get($spacing, 8);
$margin_blockend_components_xs2: map.get($spacing, 16); //refactor this
$margin_blockend_components_sm: map.get($spacing, 24);
$margin_blockend_components_md: map.get($spacing, 32);
$margin_inline_layout_lg: calc(map.get($spacing, 88) + map.get($spacing, 24));

//Inline/Block size
$inlinesize_controls_xs: calc(map.get($spacing, 12) + map.get($spacing, 8) + map.get($special_spacing, 1));
$inlinesize_controls_sm: calc(map.get($spacing, 40) * 4);
$blocksize_controls_button: calc(map.get($spacing, 40) + map.get($spacing, 4));
$blocksize_controls_sm: calc(map.get($spacing, 40) * 5 + map.get($spacing, 12));
$blocksize_controls_lg: calc(map.get($spacing, 40) * 5 + map.get($spacing, 40));

//Container
$container_inline_layout_xs: 41.11%;
$container_inline_layout_sm: 87.2%;
$container_inline_layout_md: 89.58%;
$container_inline_layout_lg: 55.57%;

//Radius
$radius_small_pill: to_rem(4);
$radius_mild_pill: to_rem(8);
$radius_avg_pill: to_rem(12);
$radius_pill_button: to_rem(32);

//Outline
$outline_component_sm: map.get($special_spacing, 2);