@use '../../../sass/abstract/variables' as *;
@use '../../../sass/abstract/mixins' as *;

.grid_item {
    inline-size: 100%; //occupies full-width of grid container

    &__cta_image {
        position: relative;

        block-size: $blocksize_control_sm; //magic number according to design

        margin-block-end: $margin_block_component_md; //sets space between image and text below it

        @include respond_to(min, l_screen) {
            block-size: $blocksize_control_lg;
        }
    }

    &__picture {
        inline-size: 100%;
    }


    &__image {
        border-radius: $radius_pill_sm;

        block-size: $blocksize_control_sm; //magic number according to design, this needs to change with button--abs_position

        inline-size: inherit;

        object-fit: cover;

        @include respond_to(min, l_screen) {
            block-size: $blocksize_control_lg; //magic number according to design, this needs to change with button--abs_position
        }
    }


    &__name {
        color: $text_rose--500;
    }


    &____description {
        color: $text_rose--900;
    }


    &__price {
        color: $text_red;
    }
}